.Cart {
  background:#fff;
  height:100%;
  max-widtH:45em;
  margin:0 0 0 auto;
  box-sizing:border-box;
  overflow:auto;
  box-shadow: 0 0 20px rgba(0,0,0,.1);
  mix-blend-mode: normal;
  position:relative;
  z-index:2;
  display:grid;
  grid-template-rows:auto 1fr auto;
  h1 {
    color:#2fd29a;
    margin:0;
    padding:1em .5em;
    font-size:1.4em;
    text-transform:uppercase;
    border-bottom:solid 1px #eee;
    margin:0 1em;
  }
}

.CartItems {
  padding:0 1em;
  margin:0;
}

.CartWraper {
  position:fixed;
  width:100%;
  height:100%;
  top:0;
  left:0;
  z-index:99999;
  &:before {
    content:"";
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    background:rgba(19,85,62,.9);
  }
}

.CartSummary {
  position:sticky;
  bottom:0;
  background:#fff;
  padding:1em;
  background:#2fd29a;
  color:#fff;
  > div {
    display:grid;
    grid-template-columns: 1fr 1fr;
    align-items:center;
  }
  .CartTotal {
    line-height:1.1;
    h2 {
      margin:0;
    }
    p {
      margin:0;
    }
  }
  .CartOrder {
    text-align:right;
  }
}

body {
  height:100vh;
  overflow:auto;
  margin:0;
}
.aura-configurator__cart--visible {
  overflow: hidden;
}