.App {
  position: relative;
  display: grid;
  @media screen and (min-width:40em) {
    grid-template-columns: 1fr 20em;
  }
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width:40em) {
  .viewWraprer {
    position:sticky;
    top:0;
    background: rgb(255,255,255);
    background: linear-gradient(0deg, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 27%);
    z-index:999;
  }
}
