<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title><% preact.title %></title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<% preact.headEnd %>
	<style>
		* {
			font-family: Arial, Helvetica, sans-serif;
		}
	</style>
</head>

<body>
	<div style="display:grid; grid-template-columns:1fr 1fr 1fr">
		<div><div class="aura-list__container"></div></div>
		<div style="text-align:center"><div class="aura-list__container"></div></div>
		<div style="text-align:right"><div class="aura-list__container"></div></div>
	</div>
	
	<div id="aura-konfigurator"></div>	
	<div class="aura-list__container"></div>
	<% preact.bodyEnd %>
</body>

</html>