.Button {
  border:solid 1px #ddd;
  background:#fff;
  padding:.5em;
  margin:2px 0;
  border-radius:.2em;
  cursor:pointer;
  &:hover {
    box-shadow:0 0 0 1px rgba(0,0,0,.1);
  }
}

.Button__icon {
  widtH: 2em;
  height: 2em;
  display: inline-block;
  vertical-align: middle;
  background-size: 2em;
  background-position: 50%;
  background-size:cover;
  background-repeat:no-repeat;
  margin-right: .5em;
  &.Button__icon--round {
    border-radius:2em;
  }
  &.Button__icon--big {
    display:block;
    margin:0 auto;
    widtH: 3em;
    background-size:contain;
    height: 3em;
    margin-bottom:.5em;
    border-radius:none;
    &.Button__icon--round {
      border-radius:3em;
    }
  }
}

